<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>ATM Login</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="POST">
        <input type="text" name="acc_no" placeholder="Account Number" required>
        <input type="password" name="pin" placeholder="PIN" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
